<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


<!-- 직접 만든 xml presentaiton-layer.xml 과 applicationConext.xml을 연결하기 위한 작업 -->
<!--application xml 을 param을 이용해서  만들어야 함. -->
<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>classpath:applicationContext.xml</param-value>
</context-param>
<listener>
	<listener-class>
			org.springframework.web.context.ContextLoaderListener
	</listener-class>
</listener>


	<!-- spring MVC 패턴을 위한 SPRING DISPATCHERSERVLET 프레임워크사용  action이라는 이름에 맞게 action 뒤에 -servlet.xml 이라는 파일을 찾아서 적용시킨다.-->
	<!--  하지만 원하는 xml을 적용할 경우 init -param을 잉ㅇ하여 해당되는 xml 적용 가능 -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/presentation-layer.xml</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>


<!-- 한글파일을 항상 적용하기 위한 filter링 처리 -->
<filter>
	<filter-name>characterEncoding</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
</filter>

<filter-mapping>
	<filter-name>characterEncoding</filter-name>
	<url-pattern>*.do</url-pattern>
</filter-mapping>


</web-app>
